/*

Template: Crypto-Coin - Responsive Multi-purpose HTML5 Template
Author:
Version:
Design and Developed by:

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template.

*/
/*---- [  Table of contents  ] ----
:- color code
:- cs-button
:- callouts & alert
:- colunms
:- separators
:- pagination-nav
:- social-icon


*/
/*----------------color code-----------------*/
.gray{
	color: #DEDEDE;
}
.white{
	color: #fff;
}
.suva-gray{
    color:#898989 !important;
}
.gray-80{
    color:#ccc !important;
}
.gray-90{
    color: #e5e5e5 !important;
}
.gray-hsl{
    color: #efefef;
}
.theme{
	color: #592775;
}
.black{
    color: #000;
}
.bg-theme{
	background-color: #592775;
}
.bg-white{
	background-color: #fff;
}
.bg-black{
	background-color: #000000;
}
.bg-gray{
	background-color: #DEDEDE;
}
.bg-light-gray{
    background-color: #F7F7F7;
}
.bg-pink{
	background-color: #FE80C0;
}
.bg-darkpink{
	background-color: #B24A7D;
}
.bg-blue{
	background-color: #00ABC9;
}
.bg-lightblue{
	background-color: #76BCFF;
}
.bg-purple{
	background-color: #9B59B6;
}
.bg-darkpurple{
	background-color: #8D708E;
}
.bg-lightpurple{
	background-color: #807FFF;
}
.bg-red{
	background-color: #E74C3C;
}
.bg-green{
	background-color: #16A085;
}
.bg-dark{
	background-color: #1D2330 !important;
}
.bg-darkgreen{
	background-color: #27AE60;
}
.bg-darkgreen-1{
	background-color: #009A9A;
}
.bg-lightgreen{
	background-color: #1ABC9C;
}
.bg-lightgreen-1{
	background-color: #2ECC71;
}
.bg-yellow{
	background-color: #F1C40F;
}
.bg-orange{
	background-color: #FF6D3A;
}
 .bg-dark-theme {
     background: #050801;
 }
.bg-img{
    background-image: url("https://via.placeholder.com/1920x1280");
    background-attachment: fixed;
    background-size: cover;
}
.parallax{
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -ms-background-size: cover !important;
    position: relative;
    z-index: 0;
    background-origin: initial;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 .bg-overlay-black-10:before {
     background: rgba(0, 0, 0, 0.1);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }
 .bg-overlay-black-20:before {
     background: rgba(0, 0, 0, 0.2);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }
 .bg-overlay-black-30:before {
     background: rgba(0, 0, 0, 0.3);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }
 .bg-overlay-black-40:before {
     background: rgba(0, 0, 0, 0.4);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }
 .bg-overlay-black-50:before {
     background: rgba(0, 0, 0, 0.5);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }
 .bg-overlay-black-60:before {
     background: rgba(0, 0, 0, 0.6);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }
 .bg-overlay-black-70:before {
     background: rgba(0, 0, 0, 0.7);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }
 .bg-overlay-black-80:before {
     background: rgba(0, 0, 0, 0.8);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }
 .bg-overlay-black-90:before {
     background: rgba(0, 0, 0, 0.9);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }
 .bg-overlay-white-10:before {
     background: rgba(255, 255, 255, 0.1);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }
 .bg-overlay-white-20:before {
     background: rgba(255, 255, 255, 0.2);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }
 .bg-overlay-white-30:before {
     background: rgba(255, 255, 255, 0.3);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }

 .bg-overlay-white-40:before {
     background: rgba(255, 255, 255, 0.4);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }

 .bg-overlay-white-50:before {
     background: rgba(255, 255, 255, 0.5);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }

 .bg-overlay-white-60:before {
     background: rgba(255, 255, 255, 0.6);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }

 .bg-overlay-white-70:before {
     background: rgba(255, 255, 255, 0.7);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }

 .bg-overlay-white-80:before {
     background: rgba(255, 255, 255, 0.8);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }

 .bg-overlay-white-90:before {
     background: rgba(255, 255, 255, 0.9);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }

 .bg-overlay-theme-20:before {
     background: rgba(230, 175, 42, 0.2);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }

 .bg-overlay-theme-50:before {
     background: rgba(230, 175, 42, 0.41);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }

 .bg-overlay-theme-70:before {
     background: rgba(230, 175, 42, 0.54);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }

 .bg-overlay-theme-90:before {
     background: rgba(230, 175, 42, 0.7490196078431373);
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 0;
 }

 .bg-overlay-black-10,
 .bg-overlay-black-20,
 .bg-overlay-black-30,
 .bg-overlay-black-40,
 .bg-overlay-black-50,
 .bg-overlay-black-60,
 .bg-overlay-black-70,
 .bg-overlay-black-80,
 .bg-overlay-black-90,
 .bg-overlay-white-10,
 .bg-overlay-white-20,
 .bg-overlay-white-30,
 .bg-overlay-white-40,
 .bg-overlay-white-50,
 .bg-overlay-white-60,
 .bg-overlay-white-70,
 .bg-overlay-white-80,
 .bg-overlay-white-90,
 .bg-overlay-theme-20,
 .bg-overlay-theme-50,
 .bg-overlay-theme-70,
 .bg-overlay-theme-90 {
     position: relative;
 }
.dark-bg h1, .dark-bg h6, .dark-bg .rem-checkbox label, .dark-bg h4, .dark-bg h3, .dark-bg h2, .dark-bg h5, .dark-bg i, .dark-bg .label{
    color: #fff !important;
}
.dark-bg p{
   color: #c5c5c5;
}
.dark-bg .separators{
    border-bottom: 1px solid rgba(255, 255, 255, 0.48);
}
.bg-overlay-black-90:before {
    background: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.bg-overlay-white-90:before {
    background: linear-gradient(0deg, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 1px;
    width: 100%;
    z-index: 0;
}
.txt-white{
    color: #fff !important;
}
/*elements*/
.full-width {
    width: 100%;
}
.height-100vh {
    height: 100vh;
}
.height-80vh {
    height: 80vh;
}
.height-70vh {
    height: 70vh;
}
.height-60vh {
    height: 60vh;
}
.height-50vh {
    height: 50vh;
}
.height-30vh {
    height: 30vh;
}
.height-20vh {
    height: 20vh;
}
.possition-abs {
    position: absolute;
    bottom: 0;
    /*width: 100%; */
}
.possition-rel {
    position: relative;
}
.vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.no-padding{
    padding: 0px !important;
}
.box-10{margin-top: -10px;}
.box-20{margin-top: -20px;}
.box-30{margin-top: -30px;}
.box-40{margin-top: -40px;}
.box-50{margin-top: -50px;}
.box-60{margin-top: -60px;}
.box-70{margin-top: -70px;}
.box-80{margin-top: -80px;}
.box-90{margin-top: -90px;}
.box{margin-top: -100px;}

.no-border{
    border: none !important;
}
/*--- cs-button start ---*/
.cs-button {
	background: #592775;
	padding: 10px 20px;
	font-size: 0.928rem;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif; border: 0;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 500;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	border:2px solid #592775;
	cursor: pointer;
}
.cs-button + .cs-button {
	margin-left: 20px;
}
.cs-button:hover, .cs-button:focus {
	background: #353535;
	color: #fff;
	border-color: #353535;
}
button {
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}
.cs-button.black {
	background: #353535;
	color: #ffffff;
	border:2px solid #353535;
}
.cs-button.black:hover,  .cs-button.black.active,  .cs-button.black:focus  {
     background:  #592775;
     color:  #ffffff;
     border-color:  #592775;
 }

.cs-button.gray  {
     background:  #e0e0e0;
     color:  #353535;
     border: 2px solid #e0e0e0;
 }

.cs-button.gray:hover,  .cs-button.gray.active,  .cs-button.gray:focus  {
     background:  #592775;
     color:  #ffffff;
     border-color:  #592775;
}

.cs-button.white  {
     background:  #fff;
     color:  #592775;
     border-color:  #ffffff;
 }

.cs-button.white:hover,  .cs-button.white:focus  {
     background:  #353535;
     color: #ffffff !important;
     border-color:  #353535;
}

.cs-button.cs-button-border  {
     background:  transparent;
     border:  2px solid #592775;
     color:  #323232;
 }

.cs-button.cs-button-border:hover,  .cs-button.cs-button-border:focus  {
     background:  #592775;
     color:  #ffffff;
     border-color:  #592775;
 }

.cs-button.cs-button-border.gray  {
     background:  transparent;
     border:  2px solid #e0e0e0;
     color:  #aaaaaa;
 }

.cs-button.cs-button-border.gray:hover,  .cs-button.cs-button-border.gray:focus  {
     background:  #592775;
     color:  #ffffff;
     border-color:  #592775;
 }

.cs-button.cs-button-border.white  {
     background:  transparent;
     border:  2px solid #fff;
     color:  #fff;
 }

.cs-button.cs-button-border.white:hover,  .cs-button.cs-button-border.white:focus, .cs-button.cs-button-border.white:hover i,  .cs-button.cs-button-border.white:focus i {
     background:  #fff;
     color:  #592775 !important;
     border-color:  #fff;
 }

.cs-button.cs-button-border.black  {
     background:  transparent;
     border:  2px solid #353535;
     color:  #353535;
 }

.cs-button.cs-button-border.black:hover,  .cs-button.cs-button-border.black:focus  {
     background:  #353535;
     color:  #ffffff;
     border-color:  #353535;
 }

.cs-button.icon i  {
     margin-left:  10px;
 }

/*cs-button with icon*/
.cs-button.arrow  {
     background:  transparent;
     border:  none;
     color:  #592775;
     padding:  0;
     font-weight:  600;
 }
.cs-button.arrow i  {
     padding-left:  10px;
     font-size:  1.142rem;
 }
.cs-button.arrow:hover  {
     color:  #898989;
 }
.cs-button.arrow.white  {
     color:  #ffffff;
     border:  none;
 }
.cs-button.arrow.white:hover  {
     color:  #aaaaaa;
     background:  transparent;
 }
.cs-button.icon-color {
    background:  none;
    border:  none;
    color:  #592775;
    padding:  0;
}
.cs-button.icon-color:hover {
    color:  #353535 !important;
    background:  transparent;
 }

.cs-button.icon-color i {
    border:  1px solid #592775;
    border-radius:  50%;
    height:  22px;
    width:  22px;
    line-height:  20px;
    margin-left:  10px;
    transform:  translateX(0px);
    transition:  all 0.5s cubic-bezier(0.76,  0.46,  0.22,  1) 0s;
}

.cs-button.icon-color:hover i  {
     background:  #353535;
     border-color:  #353535;
     color:  #ffffff;
     transform:  translateX(3px);
}

.cs-button.icon-color.white:hover  {
     color:  #ffffff;
     border: none;
     background:  none;
}
.cs-button.icon-color.white:hover i  {
     background:  #ffffff;
     color:  #592775;
     border-color:  #ffffff;
 }

.cs-button-black-iocn .cs-button.icon-color  {
     color:  #ffffff;
 }

.cs-button-black-iocn .cs-button.icon-color i  {
     border-color:  #ffffff;
 }

.cs-button-black-iocn .cs-button.icon-color:hover i  {
     background:  #ffffff;
     color:  #323232;
 }

.cs-button-black-iocn .cs-button.icon-color:hover  {
     color:  #323232;
 }

.big-cs-button  {
     padding:  28px 26px;
     font-size:  1.714rem;
 }

.big-cs-button span  {
     display:  block;
     font-size:  0.857rem;
     margin-top:  6px;
}
.cs-button.x-small  {
     padding:  8px 14px;
     font-size:  0.857rem;
}

.cs-button.small  {
     padding:  10px 18px;
     font-size:  0.857rem;
 }

.cs-button.medium  {
     padding:  12px 20px;
     font-size:  1rem;
 }

.cs-button.large  {
     padding:  14px 20px;
     font-size:  1.071rem;
 }

.cs-button + .cs-button.btn-block   {
     margin-left:  0;
 }
.btn-primary{
	background:  #592775;
	border-color:  #592775;
}
.btn-primary:hover{
	background:  #000000;
	border-color:  #000000;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,  .btn-primary:not(:disabled):not(.disabled):active:focus,  .show>.btn-primary.dropdown-toggle:focus  {
     background:  #592775;
     border-color:  #592775;
     box-shadow:  0 0 0 0.2rem rgba(132, 186, 63, 0.5);
 }

.btn-primary.focus,  .btn-primary:focus  {
     box-shadow:  0 0 0 0.2rem rgba(132, 186, 63, 0.5);
     background:  #592775;
     border-color:  #592775;
 }
.border-1-gray{
    border: 1px solid #e5e5e5;
}

/*--------------------social-icon start--------------------*/

.social-icons ul {
    padding: 0;
}
.text-center.social-icons ul {
    display: inline-block;
}
.social-icons li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 8px 8px 0;
}
.social-icons li:last-child {
    margin-right: 0;
}
.social-icons li a {
    display: block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 1.142rem;
    text-align: center;
    margin: 0;
    border-radius: 4px;
    border: 0;
    background: transparent;
    color: #333;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.text-white .social-icons li a {
    color: #ffffff;
}

/*Colored*/

.social-icons.color a,
.social-icons.color-hover a:hover {
    color: #fff;
    border: 0;
}
.social-icons.color .social-rss a,
.social-icons.color-hover .social-rss a:hover {
    background-color: #faa33d;
}
.social-icons.color .social-facebook a,
.social-icons.color-hover .social-facebook a:hover {
    background-color: #5d82d1;
}
.social-icons.color .social-discord a,
.social-icons.color-hover .social-discord a:hover {
    background-color: #40bff5;
}
.social-icons.color .social-twitter a,
.social-icons.color-hover .social-twitter a:hover {
    background-color: #40bff5;
}
.social-icons.color .social-vimeo a,
.social-icons.color-hover .social-vimeo a:hover {
    background-color: #35c6ea;
}
.social-icons.color .social-myspace a,
.social-icons.color-hover .social-myspace a:hover {
    background-color: #008dde;
}
.social-icons.color .social-youtube a,
.social-icons.color-hover .social-youtube a:hover {
    background-color: #ef4e41;
}
.social-icons.color .social-instagram a,
.social-icons.color-hover .social-instagram a:hover {
    background-color: #e1326b;
}
.social-icons.color .social-gplus a,
.social-icons.color-hover .social-gplus a:hover {
    background-color: #d68400;
}
.social-icons.color .social-stumbleupon a,
.social-icons.color-hover .social-stumbleupon a:hover {
    background-color: #ff5c30;
}
.social-icons.color .social-lastfm a,
.social-icons.color-hover .social-lastfm a:hover {
    background-color: #f34320;
}
.social-icons.color .social-pinterest a,
.social-icons.color-hover .social-pinterest a:hover {
    background-color: #e13138;
}

.social-icons.color .social-google a,
.social-icons.color-hover .social-google a:hover {
    background-color: #eb5e4c;
}
.social-icons.color .social-evernote a,
.social-icons.color-hover .social-evernote a:hover {
    background-color: #9acf4f;
}
.social-icons.color .social-dribbble a,
.social-icons.color-hover .social-dribbble a:hover {
    background-color: #f7659c;
}
.social-icons.color .social-skype a,
.social-icons.color-hover .social-skype a:hover {
    background-color: #13c1f3;
}
.social-icons.color .social-forrst a,
.social-icons.color-hover .social-forrst a:hover {
    background-color: #45ad76;
}
.social-icons.color .social-linkedin a,
.social-icons.color-hover .social-linkedin a:hover {
    background-color: #238cc8;
}
.social-icons.color .social-wordpress a,
.social-icons.color-hover .social-wordpress a:hover {
    background-color: #2592c3;
}
.social-icons.color .social-grooveshark a,
.social-icons.color-hover .social-grooveshark a:hover {
    background-color: #ffb21d;
}
.social-icons.color .social-delicious a,
.social-icons.color-hover .social-delicious a:hover {
    background-color: #377bda;
}
.social-icons.color .social-behance a,
.social-icons.color-hover .social-behance a:hover {
    background-color: #1879fd;
}
.social-icons.color .social-dropbox a,
.social-icons.color-hover .social-dropbox a:hover {
    background-color: #17a3eb;
}
.social-icons.color .social-soundcloud a,
.social-icons.color-hover .social-soundcloud a:hover {
    background-color: #ff7e30;
}
.social-icons.color .social-deviantart a,
.social-icons.color-hover .social-deviantart a:hover {
    background-color: #6a8a7b;
}
.social-icons.color .social-yahoo a,
.social-icons.color-hover .social-yahoo a:hover {
    background-color: #ab47ac;
}
.social-icons.color .social-flickr a,
.social-icons.color-hover .social-flickr a:hover {
    background-color: #ff48a3;
}
.social-icons.color .social-digg a,
.social-icons.color-hover .social-digg a:hover {
    background-color: #75788d;
}
.social-icons.color .social-blogger a,
.social-icons.color-hover .social-blogger a:hover {
    background-color: #ff9233;
}
.social-icons.color .social-tumblr a,
.social-icons.color-hover .social-tumblr a:hover {
    background-color: #426d9b;
}
.social-icons.color .social-quora a,
.social-icons.color-hover .social-quora a:hover {
    background-color: #ea3d23;
}
.social-icons.color .social-github a,
.social-icons.color-hover .social-github a:hover {
    background-color: #3f91cb;
}
.social-icons.color .social-amazon a,
.social-icons.color-hover .social-amazon a:hover {
    background-color: #ff8e2e;
}
.social-icons.color .social-xing a,
.social-icons.color-hover .social-xing a:hover {
    background-color: #1a8e8c;
}
.social-icons.color .social-wikipedia a,
.social-icons.color-hover .social-wikipedia a:hover {
    background-color: #b3b5b8;
}
.social-icons.color .social-android a,
.social-icons.color-hover .social-android a:hover {
    background-color: #A4C639;
}
.social-icons.color .social-apple a,
.social-icons.color-hover .social-apple a:hover {
    background-color: #999999;
}

